/*
=============== 
Fonts
===============
*/
// @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
@import url("https://use.typekit.net/cbg5juo.css");

/*
=============== 
Variables
===============
*/

$clr-white: #fff;
$clr-tint: #e06f42;
$clr-black: #222;
$ff-primary: "ff-real-headline-pro", sans-serif;
$ff-secondary: "ff-real-headline-pro", sans-serif;
$transition: all 0.3s linear;
$max-width: 1170px;
$fixed-width: 620px;

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $ff-secondary;
  background: $clr-white;
  color: $clr-black;
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 200;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $clr-tint;
  transition: $transition;
}
a:hover {
  color: $clr-black;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}
button,
button:focus {
  outline: none;
  background: $clr-tint;
  border: none;
}

button:active {
  outline: none;
  background: $clr-tint;
  border: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: $ff-primary;
  font-weight: 500;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  font-weight: 400;
  color: $clr-black;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
