nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  mix-blend-mode: difference;
  color: #fff;
  padding: 2rem;

  .logo {
    font-size: 2vw;
    font-weight: 500;
    line-height: 0.7;
    color: #cc704c;
  }
  ul {
    display: flex;
    li {
      margin-left: 2rem;
      color: #cc704c;
    }
  }
}
